/* .mask1 {
    -webkit-mask-image: url("../../assets/graph1.png");
    mask-image: url("../../assets/abhi3.png");
    -webkit-mask-size: 10%;
    mask-size: 10%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;    
  } */