/* .mask1 {
    -webkit-mask-image: url("../../assets/graph1.png");
    mask-image: url("../../assets/abhi3.png");
    -webkit-mask-size: 10%;
    mask-size: 10%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;    
  } */

  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
  transform-origin: 0%;
  }
  .img {
   margin-right: 100px;
    animation: leftToRight 20s linear infinite; 
  }
  @keyframes leftToRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .img2 {
    margin-right: 100px;
     animation: rightToLeft 20s  ease-in-out infinite; 
   }
   @keyframes rightToLeft {
     0% {
       transform: translateX(100%);
     }
     100% {
       transform: translateX(-100%);
     }
    } 